.astro, .astro > .stormi{ 
height:720px;
 }

.stormi {
  position: absolute;
  top: 0; left: 0;
  z-index: 3;
  width: 100%;
  animation: slideshow 12s linear 0s infinite;
}

.stormi:nth-child(2) {
  z-index: 2;
  animation-delay: 4s;
}

.stormi:nth-child(3) {
  z-index: 1;
  animation-delay: 8s;
}


@keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}

body{
  background: url(https://thefulldomeblog.files.wordpress.com/2013/11/example_render.jpg);
}

.dates{
  color: white;
  text-align: center;
  font-family: FantailOpti;
  font-size: 50px;
  margin: 0px;
  padding-top: 10px;
  height: 720px;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  /*border: 2px dotted white; */
  -webkit-background-clip: text;
  background-clip: text;
}

a{
  color: white;
}


nav{
  width: 100%;
  height: 50px;
  background-color: black;
  font-family: FantailOpti;
  font-size: 25px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
}

nav a {
  display: block;
  float: left;
  color: white;
  text-decoration: none;

  background-color: black;

  border: 1px solid #000;
 
 /*Padding Our Box*/
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

}

nav a:hover{
  color: aqua;
}

#logo{
  font-family: FantailOpti;
  text-decoration: none;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.music

.mom{
  top: 0px;
  position: relative;
  margin: 0px;
  padding:0px;
  float: left;
  width: 655px;
}

.dad{
  top: 0px;
  margin: 0px;
  padding:0px;
  float: right;
  width:655px;
  height: 635px;

}

